body {
  margin: 0;
  font-family: 'optistaines-extended-light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/Sucession_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
  width: 100vw;
  color: white;
}

code {
  font-family: 'optistaines-extended-light', sans-serif;
  color: white;
}
.welcome-container{
  text-align: center;
  font-size: 70px;
}