body {
  margin: 0;
  font-family: 'optistaines-extended-light', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./assets/Sucession_img.jpg");
  color: white;
}
code {
  font-family: 'optistaines-extended-light', sans-serif;
}

html{
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height:100vh;
}

.header{
font-family: 'optistaines-extended-light', sans-serif;
font-size: 60px;
font-weight: lighter
}


h1{
  font-size: 85px;
  padding: 15px;
}

h2{
font-style: italic;
font-weight: lighter;
}

 .summary-p {
  font-family: 'optistaines-extended-light', sans-serif;
  font-size: 25px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: 5px;
  padding: 40px;
  font-size: 30px;
}
.inner-container{
  padding: 30px;
  margin-top: 10px; 
  margin-left: 10px;
  margin-right:10px;
  flex-direction: column;
  display: flex;
  border: 1px solid rgb(141, 32, 32);
  align-content: center;
  background-color: rgba(124, 112, 96, 0.411);
}

.button {
  background-color: rgb(124, 112, 96);
  border: 20px;
  border-radius: 15%;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  margin-top: 10px;
  font-family: 'optistaines-extended-light', sans-serif;
  cursor: pointer;
  background-color: rgba(63, 56, 43, 0.329); 
  width: 50%;
  display: flex;
  flex-direction: column;
}

button:hover {
box-shadow: rgba(19, 17, 13, 0.329) 0 4px 8px; 
}

.input-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid rgb(141, 32, 32);
  border-radius: 9px;
}
.overview{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(172, 168, 162, 0.411);
  border-radius: 9px;
  border: 1px solid rgb(141, 32, 32);
  padding: 10px;
  margin: 8px 0;
}

/*Media quaries */


@media (min-witdth: 768px){
html {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }

  .container {
    background-color: rgba(250, 235, 215, 0.527);
    border-radius: 15%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    width: 400px;
    margin: 0 auto;
  
    padding: 40px;
    font-size: 20px;
  }
  @media (min-witdth: 1024px)
  .button{

  }
  .background-image {
  height: 100vh;
  }
}